# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE
DB_USER=root
DB_PASSWORD=Todo123@
DB_NAME=todo
DB_HOST=localhost
DB_PORT=3320
DATABASE_URL=mysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

NODE_ENV=development
APP_PORT=4020
APP_PATH=/api/graphql
ENABLE_CRON=true

DOMAIN=http://localhost:3020
CORS_DOMAIN=http://localhost:3020